.venv/
.uv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

slides/*.pdf
slides/_build/

*.nav
*.out
*.snm
*.log
*.gz
*.toc
*.fls
*.fdb_latexmk
*.aux

web/node_modules/
web/dist/

data/cache/