.venv/
.uv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/
data/interim/
data/processed/
data/cache/

slides/*.pdf
slides/_build/

*.nav
*.out
*.snm
*.log
*.gz
*.toc
*.fls
*.fdb_latexmk
*.aux

node_modules/
web/dist/